<meta xmlns="http://exist-db.org/xquery/repo">
  <author>@author@</author>
  <license>GNU-LGPL</license>
  <copyright>true</copyright>
  <description>@description@</description>
  <website>@website@</website>
  <type>library</type>
  <status>@status@</status>
</meta>
